<ion-modal-view ng-controller="NewChatCtrl as chat">
  <ion-header-bar>
    <h1 class="title">New Event</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="chat.hideNewChatModal()">Cancel</button>
    </div>
  </ion-header-bar>

  <ion-content>
    <label class="item item-input">
      <span class="input-label">Eventname</span>
      <input ng-model="chat.name" type="text" placeholder="Eventname">
    </label>
    <div class="list">
      <a ng-repeat="user in chat.users" ng-click="chat.newChat(user._id)" class="item item-avatar">
        <h2>{{user.profile.name}}</h2>
        <p>check</p>
      </a>
    </div>
  </ion-content>
</ion-modal-view>
